<!-- bookstore_app/templates/bookstore_app/book_list.html -->
{% extends 'bookstore_app/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
    <a href="{% url 'add_book' %}"><button>Добавить новый элемент</button></a>
    {% endif %}
    <h2>Список книг</h2>
    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Автор</th>
                <th>Издатель</th>
                <th>Стоимость</th>
                {% if user.is_staff %}
                    <th>Действия</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.publisher|default:"Не указан" }}</td>
                    <td>{{ book.cost|floatformat:2 }}</td>
                    {% if user.is_staff %}
                        <td>
                            <a href="{% url 'edit_book' book.pk %}"><button>Изменить</button></a>
                            <a href="{% url 'delete_book' book.pk %}"><button>Удалить</button></a>
                        </td>
                    {% endif %}
                    <td>
                        <a href="{% url 'add_to_cart' book.pk %}"><button>Добавить в корзину</button></a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="{% if user.is_staff %}6{% else %}5{% endif %}">Книги отсутствуют</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if is_paginated %}
        <div class="pagination">
            <span>
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}">Назад</a>
                {% endif %}
                <span>Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}">Вперед</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}